body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: purple;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 200px;
    border: 8px;

}

.flex-item-1{
    flex: 1;
}

.flex-item-2{
    flex: 2;
}

.flex-item-3{
    flex: 3;

}
.flex-item-4{
    flex: 4;

}

.flex-space-between {
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    justify-content: space-between;
}


.flex-wrap {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.flex-basis-item-50 {
    flex-basis: 25%;

}

.flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    list-style: none;
}

.flex-menu li a {
    color:#000000;
    font-weight: bold;
}

.flex-menu li  {
    text-align: center;
    padding: 1em;
    margin: 0 1px; 
}


.flex-menu a:hover {
    background-color: #ddd;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    min-height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}