.animated-title {
    font-size: 48px;
    font-weight: bold;
    font-family: Impact;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    animation: fadeIn 2s ease-in-out;
    animation-iteration-count: 3;
    text-shadow: horizontal-offset vertical-offset blur-radius color; 
    text-decoration-style: dashed;

}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    overflow: hidden;
    z-index: 0;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}

.login-form {
    background-color: #f06702;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-family: Fantasy;
}   
.login-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-family: Fantasy;
}   

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login-form-button {
    width: 100%;
    padding: 10px;
    background-color: #000407;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

.login-form button:hover {
    background-color: #333;
}

.forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    display:block;
    block-size: auto;
    z-index: 2;
    
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -0;
    pointer-events: none;
    overflow:auto;

}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    shape-outside: circle(50%);

}


@keyframes animate {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) translateX(1000px) rotate(720deg);
        opacity: 0;
    }
}

.circles li:nth-child(1) {
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
} 

.circles li:nth-child(3) {
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}
