 h1, h2, h3 {
    display: block;
    width:50%;
}

.box {
            border: 2px solid #000;
            padding: 8px;
            display: inline-block;
            background-color: #f06702;
            border-radius: 5px;
            font-family: Fantasy;
            font-size: 32px;

        }

.label {
    font-size: 32px;      
    color: #333;             
    display: inline-block;    
    background-color: #f06702; 
    border: 2px solid #000407;
    padding: 10px;            
    border-radius: 5px;       
}

.description {
    font-size: 16px;      
    color: #f8f8f8;             
    display: inline-block;    
    background-color: #f06702; 
    border: 2px solid #000407;
    padding: 10px;            
    border-radius: 5px;
    font-family:cursive;    
    font-size: 24px;       
}

.price {
            border: 8px solid #000;
            padding: 8px;
            display: inline-block;
            background-color: #f06702;
            border-radius: 5px;
            font-family: Fantasy;
            font-size: 42px;

        }

.shippingAddress {
    font-size: 16px;      
    color: #f8f8f8;             
    display: inline-block;    
    background-color: #f06702; 
    border: 2px solid #000407;
    padding: 10px;            
    border-radius: 5px;
    font-family:cursive;    
    font-size: 24px;       
}

.OrderNowButton {
    font-size: 16px;      
    color: #f8f8f8;             
    display: inline-block;    
    background-color: #030200; 
    border: 2px solid #000407;
    padding: 10px;            
    border-radius: 5px;
    font-family:cursive;    
    font-size: 24px;       
}
